.Account {
    margin: 15px;
}

ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

li {
    justify-content: center;
    float: initial;
}

li a:hover {
    background-color: rgb(187, 202, 211);
    text-decoration: underline;
    justify-content: center;
    column-width: auto;
}